.mymetadata
.checkstyle
.classpath
*.class
.settings/
.war
.zip
.rar
.idea
*.iml
.metadata
.recommenders
/RemoteSystemsTempFiles/*
/Servers/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/bin/*
/bin/
/target/
