.mymetadata
.checkstyle
.classpath
*.class
.settings/
.war
.zip
.rar
.idea
*.iml
.metadata
.recommenders
/gafker.common/target/*
/gafker.manage/gafker-manage-mapper/target/*
/gafker.manage/gafker-manage-pojo/target/*
/gafker.manage/gafker-manage-service/target/*
/gafker.manage/gafker-manage-web/target/*
/RemoteSystemsTempFiles/*
/Servers/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/bin/*
/bin/
/target/
